# Курсовая работа № 2
## Аналитика. Начальный уровень

Перед вами стоит задача – подготовить аналитический отчет для HR-отдела. На основании проведенной аналитики предполагается составить рекомендации для отдела кадров по стратегии набора персонала, а также по взаимодействию с уже имеющимися сотрудниками.
<br><br> В базе данных лежит набор таблиц, которые содержат данные о сотрудниках вымышленной компании.
Сделайте обзор штата сотрудников компании. Составьте набор предметов исследования, а затем проверьте их на данных. Вся аналитика должна быть выполена с помощью SQL. Впоследствии данные можно визуализировать, однако финальные датафреймы для графиков также должны быть подготовлены с помощью SQL. <br><br>

Примеры гипотез:
1. Есть зависимость между `perfomance score` и тем, под чьим руководством работает сотрудник.
2. Есть зависимость между продолжительностью работы в компании и семейным положением сотрудника.
2. Есть зависимость между продолжительностью работы в компании и возрастом сотрудника.

<br><br>
Параметры для подключения следующие: хост – `dsstudents.skillbox.ru`, порт – `5432`, имя базы данных – `human_resources`, пользователь – `readonly`, пароль – `6hajV34RTQfmxhS`. Таблицы, доступные для анализа, – `hr_dataset`, `production_staff`, `recruiting_costs`, `salary_grid`.

In [115]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6
Note: you may need to restart the kernel to use updated packages.

In [19]:
import numpy as np
import sqlalchemy
import psycopg2
import pandas as pd
import json
from matplotlib import pyplot as plt

conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/human_resources'
engine = sqlalchemy.create_engine(conn)
connect = engine.connect()
inspector = sqlalchemy.inspect(engine)

Гипотезы:

1 - Влияет ли employment source на размер заработной платы (pay rate)

2 - Влияет ли пол сотрудника на ставку за час

3 - Влияет ли пол сотрудника на продолжительность работы

In [27]:
#1 Влияет ли employment source на размер заработной платы (pay rate)
pd.read_sql("""select "Employee Source", count("Employee Source"), median("Pay Rate") from hr_dataset group by "Employee Source" order by median("Pay Rate") desc""", connect)

                           Employee Source  count     median
0               Company Intranet - Partner      1  62.000000
1                       Website Banner Ads     13  55.000000
2                                   Indeed      8  48.125000
3                          Vendor Referral     15  45.000000
4                   Pay Per Click - Google     21  42.200001
5                        Employee Referral     31  37.000000
6                                    Other      9  34.950001
7                          Internet Search      6  33.750000
8                                Glassdoor     14  26.245000
9                            Careerbuilder      1  26.000000
10                             Monster.com     24  25.500000
11                     Information Session      4  24.745000
12                    Professional Society     20  23.125000
13                      Newspager/Magazine     18  23.000000
14                               Billboard     16  22.750000
15       Search Engine - Google Bing Yahoo     25  22.000000
16                                MBTA ads     17  22.000000
17                      Diversity Job Fair     29  22.000000
18                    On-campus Recruiting     12  21.500000
19                           Word of Mouth     13  21.000000
20  Social Networks - Facebook Twitter etc     11  20.000000
21                 On-line Web application      1  18.000000
22                           Pay Per Click      1  15.000000

In [26]:
#2 Влияет ли пол сотрудника на медианную ставку за час
pd.read_sql("""select "sex", median("Pay Rate") from hr_dataset hd group by "sex" """, connect)

      sex  median
0  Female    24.0
1    Male    26.0

In [22]:
#3 Влияет ли пол сотрудника на продолжительность работы
pd.read_sql("""select "sex", median("Days Employed") from hr_dataset hd group by "sex" """,connect)

      sex  median
0  Female  1238.0
1    Male  1238.0

При наборе персонала, отдел кадров может расматривать соискателей любого пола, т.к. это никак не влияет ни на продолжительности работы сотрудника ни на его заработную плату.

Так же стоит учесть что такие источники как **On-line Web application**, **Pay Per Click** привлекают меньше всего новых сотрудников с наименьшей ставкой за час